<launch>
	  	<arg name="namespace" default="lolo_auv"/>

  <group ns="$(arg namespace)">

<!--         <node pkg="mbes_toy_processor" name="$(arg namespace)_toy_mbes_processor" type="toy_mbes_processor" output="screen">
            <param name="mbes_left_topic" value="/$(arg namespace)/sss_left"/>
            <param name="mbes_right_topic" value="/$(arg namespace)/sss_right"/>
            <param name="sss_r_link" value="/$(arg namespace)/sonarright_link"/>
            <param name="sss_l_link" value="/$(arg namespace)/sonarleft_link"/>
            <param name="base_frame" value="/$(arg namespace)/base_link"/>
            <param name="lm_detect_topic" value="/$(arg namespace)/mbes_detections"/>
        </node> -->

        <node pkg="mbes_mapper" name="$(arg namespace)_mbes_pcl_receptor" type="mbes_pcl_receptor" output="screen">
            <param name="base_frame" value="/$(arg namespace)/base_link"/>
            <param name="map_frame" value="/$(arg namespace)_map"/>
            <param name="mbes_frame" value="/$(arg namespace)/mbes_sonardown_link"/>
            <param name="mbes_laser_topic" value="/$(arg namespace)/mbes_laser"/>
            <param name="pcl_pub_topic" value="/$(arg namespace)/mbes_pcl"/>
        </node>

<!--         <node pkg="fls_processors" name="fls_rock_detector" type="fls_rock_detector" output="screen">
            <param name="base_frame" value="/$(arg namespace)/base_link"/>
            <param name="fls_frame" value="/$(arg namespace)/forward_sonardown_link"/>
            <param name="image_raw_sonar" value="/$(arg namespace)/depth/image_raw_raw_sonar"/>
            <param name="lm_detect_topic" value="/$(arg namespace)/mbes_detections"/>
        </node> -->
  </group>

</launch>