<launch>

<arg name="robot_name" default="sam"/>
<!--SET either SIM or REAL to true depending on launch in simulation or real test-->
<arg name="with_ACC" default="true"/>
<arg name="with_DYNAMICS" default="false"/>

    <include file="$(find sam_dead_reckoning)/launch/dual_ekf_test_old.launch" if="$(arg with_ACC)">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>

    <include file="$(find sam_dead_reckoning)/launch/dual_ekf_test_new.launch" if="$(arg with_DYNAMICS)">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>
      
</launch>
