<launch>

    <arg name="namespace" default="sam"/>
    <arg name="mode" default="default"/>
    <arg name="debug" default="0"/>

    <!-- Get these coordinates by clicking in Google maps and converting lat/lon to UTM -->
    <!-- KTH coordinates -->
    <!--
    <arg name="latitude" default="59.348513"/>
    <arg name="longitude" default="18.071553"/>
    -->
    <!-- UTM Zone: 34V -->
    <!--
    <arg name="utm_easting" default="333492.08"/>
    <arg name="utm_northing" default="6582522.08"/>
    -->

    <!-- KTH coordinates -->
    <arg name="latitude" default="58.250046"/>
    <arg name="longitude" default="11.446099"/>
    <!-- UTM Zone: 32V -->
    <arg name="utm_easting" default="643558.24"/>
    <arg name="utm_northing" default="6459155.57"/>

    <group ns="$(arg namespace)">
        <group ns="dr">

            <node pkg="tf" type="static_transform_publisher" name="world_utm_broadcaster" args="$(arg utm_easting) $(arg utm_northing) 0 0 0 0 1 world_utm world_local 100" />
            <!-- This is required for the Aerial map display to work properly" -->
            <node pkg="tf" type="static_transform_publisher" name="map_utm_broadcaster" args="0 0 0 0 0 0 1 map world_utm 100" />

            <node pkg="rostopic" type="rostopic" name="fake_gps_fix"
                  args="pub /fake_fix sensor_msgs/NavSatFix -r 1
                  '{header: {seq: 999, stamp: {secs: 0, nsecs: 0}, frame_id: 'world_local'},
                    status: {status: 0, service: 1},
                    latitude: $(arg latitude),
                    longitude: $(arg longitude),
                    altitude: 0,
                    position_covariance: [3.9561210000000004, 0.0, 0.0, 0.0, 3.9561210000000004, 0.0, 0.0, 0.0, 7.650756],
                    position_covariance_type: 2}'" output="screen"/>

            <node pkg="sam_dead_reckoning" type="publish_gps_path.py" name="publish_gps_path" output="screen">
                <remap from="/fix" to="/$(arg namespace)/core/gps"/>
                <!-- <remap from="/fix" to="/fake_fix"/> -->
                <remap from="/heading_imu" to="heading_imu"/>
                <remap from="sam/utm_odom" to="utm_odom"/>
            </node>
            <node pkg="sam_dead_reckoning" type="spoof_gps_imu.py" name="spoof_gps_imu" output="screen">
                <param name="imu_frame" value="sam/base_link"/>
                <remap from="/fix" to="/$(arg namespace)/core/gps"/>
                <!-- <remap from="/fix" to="/fake_fix"/> -->
                <remap from="/vel" to="/$(arg namespace)/core/vel"/>
                <remap from="/heading_imu" to="heading_imu"/>
                <remap from="/odom" to="odom"/>
            </node>

        </group>
    </group>

</launch>
