<launch>

    <arg name="namespace" default="sam"/>
    <arg name="mode" default="default"/>
    <arg name="debug" default="0"/>

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="navsat" respawn="true">
        <param name="port" value="/dev/ttyUSB2"/>
        <param name="baud" value="9600"/>
    </node>

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">

        <param name="magnetic_declination_radians" value="0"/>
        <param name="yaw_offset" value="0"/>

        <remap from="/imu/data" to="/heading_imu" />
        <remap from="/gps/fix" to="/fix" />
        <remap from="/odometry/filtered" to="/odometry/filtered/sam" />

    </node>

    <include file="$(find sam_dead_reckoning)/launch/sam_stim_dr.launch"/>

</launch>
